.example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(253, 253, 253);
    padding: 10px;
} 

.player {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 147px;
    width: 977px;
    background-color: #2c3137;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: verdana;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.title {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    padding: 5px;
    margin: 25px 5px 5px 50px;
    height: 20px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background-color: #2c3137;
    overflow: hidden;
    width: 600px;
}

.pl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: white;
    text-align: center;
    padding: 5px;
    width: 60px;
    border: 1px solid white;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: auto;
    height: 16px;
}

.pl:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
}

.cl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 5px;
    width: 60px;
    border: 1px solid white;
    margin: 0 auto;
}

.cl:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
}

.cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    width: 100px;
    background-size: cover;
    margin: 25px 0 5px 25px;
}

.components-title-play {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    height: 23px;
    margin: 15px 5px 5px 50px;
    width: 138px;
}

.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    height: 100%;
    width: 33%;

}

.controls .play {
    background-position: -8px -171px;
}

.controls .pause {
    display: none;
}

.hidden {
    display: none;
}

.controls .visible {
    display: block;
} 

.ui-slider-range {
    height: 100%;
    border-radius: 5px;

}

.ui-slider-handle {
    cursor: pointer;
    height: 11px;
    margin-left: -6px;
    width: 10px;  
    outline: none;
    border-radius: 50%;
}


.playlist {
    background-color: #2c3137;
    list-style-type: none;
    margin: 1px 0 0 0;
    padding-bottom: 10px;
    padding-top: 15px;
    width:  961px;
    padding-right: 16px;
}

.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 0 10px 15px;
}

ul {
    padding: 0;
}

.playlist li.active {
    font-weight: bold;
    border-bottom: 1px solid white;
}

.play-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 3px;
}

.play-box:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
}

i {
    color: white;
}

i:hover {
    color: rgb(0, 0, 0);
}
